@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

#weatherapp {
  background-image: linear-gradient(to top, #b67162 0%, #9c3d54 50%);
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  border-radius: 10px;
  width: 50%;
  padding: 30px;
  margin: 30px auto;
  opacity: 0.9;
  color: #e4d3cf;
}

#background {
  color: aliceblue;
}

#coded-by {
  padding: 25px 0 0 0;
  font-family: monospace;
  font-size: 12.5px;
  text-align: right;
}