@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

#weatherapp {
  background-image: linear-gradient(to top, #b67162 0%, #9c3d54 50%);
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  border-radius: 10px;
  width: 50%;
  padding: 30px;
  margin: 30px auto;
  opacity: 0.9;
  color: #e4d3cf;
}

#background {
  color: aliceblue;
}

#head {
  text-align: right;
}


#search-form {
  font-size: 20px;
}
#search-input {
  padding: 2.5px;
  border: 2.5px solid #d99cbf;
  border-radius: 20px;
}
#search-button {
  font-size: 15px;
  font-weight: bolder;
  background-color: rgb(216, 191, 216);
  padding: 5px;
  border: 2.5px solid #d99cbf;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
#search-button:hover {
  cursor: pointer;
  background-color: #e8e5e2;
}
#current-button {
  font-size: 15px;
  font-weight: bolder;
  background-color: rgb(216, 191, 216);
  padding: 5px;
  border: 2.5px solid #d99cbf;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  color: #4f3b57;
}
#current-button:hover {
  cursor: pointer;
  background-color: #e8e5e2;
}

h1 {
  font-family: "Montserrat", sans-serif;
  display: inline;
}


#current-weather {
  background-color: transparent;
  border: black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  width: 500px;
}

#date {
  font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: left;
    padding: 10px;
}



ul {
  list-style: none;
}
#humidity {
  display: inline;
  margin: 0 auto;
}

#details {
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: left;
}

#coded-by {
  padding: 25px 0;
  position: relative;
  top: 50px;
  font-family: monospace;
  font-size: 12.5px;
}
