#todayIcon {
  text-align: right;

}

h1 {
  font-family: "Montserrat", sans-serif;
  display: inline;
}

#details ul {
  list-style: none;
}

#details {
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: left;
}

#humidity {
  display: inline;
  margin: 0 auto;
}







